{% extends "base.html" %}
{% block title %} Anime Page{% endblock %}
{% block content %}
<center>
<h4 style="background-color: maroon; font-weight: bold; color: white; opacity: 0.5">Most Popular Anime (Anime ID's listed above image):</h4>
{% for item in most_pop_table %}
{{ item|safe }}
{% endfor %}
<h3 style='font-weight: bold; color: black;'>Already Have An Anime in Mind?</h3>
<form action="#" method="post">
    <p><input type="text" placeholder="Enter the anime_id of your favorite anime here:" name="id" size="50"/></p>
    <p><input type="submit" value="Recommend Me a Similar Anime!" name='search' style="background-color: maroon; color: white;"/></p>
</form>
<button type="button" style="background-color: black; color: white;" onclick="window.location.href='{{ url_for( 'home' , table='Y' ) }}';">Need Help Finding The Anime_ID?</button>
</center>
{% endblock %}
