<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} Search Results {% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2>Anime Titles Matching Keyword Search:</h2>
{% for table in search_results %}
            {{titles_search[loop.index]}}
            {{ table|safe }}
{% endfor %}
<br><br>
<button type="button" onclick="window.location.href='{{ url_for( 'engine' , table='Y' ) }}';">Take me to the recommender!</button>
{% endblock %}
</body>
</html>