<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} Recommendations {% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <center>
        <h4>Anime Selected: {{anime_eng, anime_name, media_type}}</h4>
        <h3 style="background-color: maroon; color: white; font-weight: bold;">Based on your selection, you may enjoy:</h3>
        {% for table in content_based %}
                {{ table|safe}}
        {% endfor %}
        <br>
        <h3 style="background-color: maroon; color: white; font-weight: bold;">Other users who liked this anime also liked:</h3>
        {% for item in collab_filt %}
        {{ item|safe }}
        {% endfor %}
        <br><br>
        {% endblock %}
    </center>
</body>
</html>
