{% extends "base.html" %}
{% block title %} Anime Page{% endblock %}
{% block content %}
<button type="button" onclick="window.location.href='{{ url_for( 'engine' , table='Y' ) }}';">Take me to the recommender!</button>
<br><br>
<form action="#" method="post" name="help">
    <p>Need Help Finding the Correct Anime ID?</p>
    <p><input type="text" placeholder="Select: Movie, TV, or Both:" name="mt" size="50"/></p>
    <p><input type="text" placeholder="Search for Title Keyword:" name="kw" size="50"/></p>
    <p><input type="submit" value="Search" name='search'/></p>
</form>
{% endblock %}